<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Budgeting App</h1>
    <p>Please choose an option:</p>
    <button onclick="window.location.href='/signin'">Sign In</button>
    <button onclick="window.location.href='/signup'">Sign Up</button>
</body>
</html>